## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,2,Katsuura,JP,68.04,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
1,4,Constitucion,CL,51.30,clear sky,-35.3333,-72.4167,Hotel Boutique Las Azucenas
2,7,Port Alfred,ZA,65.64,overcast clouds,-33.5906,26.8910,The Halyards Hotel
3,17,Rikitea,PF,69.22,moderate rain,-23.1203,-134.9692,People ThankYou
4,20,Adeje,ES,68.02,broken clouds,28.1227,-16.7260,Gran Tacande Wellness & Relax

In [3]:
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp}°F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [4]:
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df.City == 'Nara']
vacation_end = vacation_df.loc[vacation_df.City == 'Nara']
vacation_stop1 = vacation_df.loc[vacation_df.City == 'Shimoda']
vacation_stop2 = vacation_df.loc[vacation_df.City == 'Katsuura'] 
vacation_stop3 = vacation_df.loc[vacation_df.City == 'Hasaki'] 

vacation_start

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
64,215,Nara,JP,69.04,broken clouds,34.6851,135.8049,Guesthouse Nara Komachi

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
waypointList = []

start = vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6]
end = vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6]
stop1 = vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6]
stop2 = vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6]
stop3 = vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6]

for waypoint in stop1,stop2,stop3:
    waypointList.append(waypoint)

In [11]:
fig = gmaps.figure()
directions_layer = gmaps.directions.Directions(start,end,waypointList,optimize_waypoints=True,
                                    mode='car',api_key=g_key)
fig.add_layer(directions_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Combines dataframes
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,215,Nara,JP,69.04,broken clouds,34.6851,135.8049,Guesthouse Nara Komachi
1,118,Shimoda,JP,66.56,few clouds,34.6667,138.9500,Shimoda Tokyu Hotel
2,2,Katsuura,JP,68.04,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
3,617,Hasaki,JP,68.29,clear sky,35.7333,140.8333,Hotel Sunrise Choshi
4,215,Nara,JP,69.04,broken clouds,34.6851,135.8049,Guesthouse Nara Komachi

In [9]:
#Format info box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp}°F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
#Adds marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))